p{
    color: royalblue;
}
button{
    background-color: rgb(250, 234, 205)royalblue;
    color: rgb(44, 51, 72);
}
body{
    background-color: rgb(250, 234, 205);
}
h1{
    color: royalblue;
    font-size: 50px;
}
a{
    color: rgb(44, 51, 72);
}
